.container {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  margin: 2rem 0;
}

.category {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.categoryHeader {
  display: flex;
  align-items: center;
  gap: 1rem;

  h3 {
    font-size: 1.5rem;
    margin: 0;
  }
}

.skillsGrid {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: flex-start;
  padding: 1rem;
  background-color: var(--neutral-background-weak);
  border-radius: 0.5rem;
}
