.iconContainer {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  margin: 0.5rem 1rem;
  transition: transform 0.3s ease;
  cursor: pointer;

  &:hover {
    transform: translateY(-5px);
  }
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s ease;
}

.animated {
  animation: pulse 1.5s ease infinite;
  color: var(--brand-solid-strong);
}

.label {
  margin-top: 0.5rem;
  font-size: 0.75rem;
  text-align: center;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
