.projectsHeader {
  position: relative;
  margin-bottom: 3rem;
  text-align: center;
  overflow: hidden;

  &::before, &::after {
    content: '';
    position: absolute;
    width: 30%;
    height: 1px;
    background: linear-gradient(90deg, transparent, var(--neutral-alpha-medium) 50%, transparent);
    top: 50%;
    z-index: 0;
  }

  &::before {
    left: 0;
  }

  &::after {
    right: 0;
  }
}

// Filtre bileşenleri kaldırıldı

.projectsGrid {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 2rem;
  transition: all 0.5s ease;
  
  @media (min-width: 768px) {
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  }
}

.projectCard {
  position: relative;
  transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  
  &:hover {
    transform: scale(1.02);
    z-index: 1;
  }
  
  &:nth-child(odd) {
    transform: translateY(10px) rotate(-1deg);
    
    &:hover {
      transform: translateY(0) scale(1.02) rotate(0deg);
    }
  }
  
  &:nth-child(even) {
    transform: rotate(1deg);
    
    &:hover {
      transform: scale(1.02) rotate(0deg);
    }
  }
}

.projectLink {
  text-decoration: none;
  display: flex;
  justify-content: center;
  
  @media (min-width: 1024px) {
    &:nth-child(3n+1) {
      justify-content: flex-start;
    }
    
    &:nth-child(3n+2) {
      justify-content: center;
    }
    
    &:nth-child(3n) {
      justify-content: flex-end;
    }
  }
}

.animatedCircle {
  position: absolute;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background: radial-gradient(circle, var(--brand-alpha-weak) 0%, transparent 70%);
  opacity: 0.5;
  filter: blur(40px);
  z-index: 0;
  animation: moveAround 25s infinite ease-in-out;
  pointer-events: none;
}

.projectCardWrapper {
  transition: transform 0.3s ease-in-out;
  
  &:hover {
    transform: translateY(-5px);
  }
}

@keyframes moveAround {
  0% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(200px, -100px);
  }
  50% {
    transform: translate(0, -200px);
  }
  75% {
    transform: translate(-200px, -100px);
  }
  100% {
    transform: translate(0, 0);
  }
}